{"CustomerID":"4d0e26dcb3462f05","Name":{"company":"","machine":"centos7_test"},"Securt":{"current":"KkcT96H1gxlNe8KbKwuYhA==","previous":"1Jp4UTGT79jCeQSr3ey+ZQ=="},"Environment":{"domain":"DEV"},"Enroll":"","PeripheralDft":null,"DeviceID":"000c29a96789-4d0e26dcb3462f05","Configuration":{"viper":"https://flydevvipfun004.azurewebsites.net/api/ViperKeyGen","xfunc":"7Fy7IPgfyjieqW0Mjv4CdUKl//ZPeCnDplD8YjmSvu2WuqNZn3zl6A==","scope":"0ne00109BE3"}}